@font-face {
  font-family: 'font/Las locuras del emperador';
  src: url('font/Las locuras del emperador.eot'); /* IE9 Compat Modes */
  src: url('font/Las locuras del emperador.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/Las locuras del emperador.woff') format('woff'), /* Modern Browsers */
       url('font/Las locuras del emperador.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/Las locuras del emperador.svg#5f5d433c67c6a640b6d8cb41a463c2f7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}