/* Estilos generales por etiqueta */
body{
  margin: 0;
}
div{
  width: 100%;
}
h1{
  font-family: 'El Rio Lobo';
  font-weight: normal;
  color: gold;
}
p{
  color: white;
}
li{
  list-style: none;
  margin-bottom: 40px;
}
li::before{
  padding-right: 50px;
}
/* Estilos específicos por ID */
#primero{
  background-color: rgb(179, 47, 47);
  padding: 20px 0 40px 0;
  text-align: center;
}
#segundo{
  background-color: rgb(12, 134, 212);
  padding: 20px 0;
  text-align: center;
}
#tercero{
  background-image: url('../images/cuzco2.jpg');
  background-size: cover;
  text-align: right;
  height: 500px;
}
#cuarto{
  width: calc(100% - 400px);
  margin-left: 200px;
  padding: 20px 0;
  font-family: 'El Rio Lobo';
}
#item-1::before{
  content: "- "
}
#item-2::before{
  content: "&"
}
#item-3::before{
  content: "©"
}
/* Estilos generales por clase */
.alinear-centro{
  text-align: center;
}
.alinear-izquierda{
  text-align: left;
}
.grande{
  font-size: 80px;
  color: black;
}
.sin-margen{
  margin: 0;
}
